<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>彩票</string>
	<string>星座</string>
	<string>语录</string>
	<string>美图</string>
	<string>养生</string>
	<string>房产</string>
	<string>奇葩</string>
	<string>美食</string>
	<string>历史</string>
	<string>时尚</string>
	<string>故事</string>
	<string>文化</string>
	<string>政务</string>
	<string>电影</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>v</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
	<string>农田a</string>
</array>
</plist>
